* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Poppins';
}

.nav-link {
    color: #707070;
}

.carousel-item .carousel-contant {
    padding-top: 150px;
}

.card {
    padding: 50px;
    padding-bottom: 40px;
    border-radius: 20px;
    border-color: #fff;
    box-shadow: 0 10px 30px #0000000a;
    transition: linear .2s;
}

.card:hover {
    box-shadow: 0 10px 30px #00000030;
    transition: linear .2s;
}

.cat-card {
    text-align: center;
    margin: 15px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 10px 30px #00000015;
    border-radius: 40px 5px 20px 5px;
    transition: linear .2s;

}

.cat-card:hover {
    border-radius: 20px;
    transition: linear .2s;
    box-shadow: 0 10px 30px #00000030;
}

.cat-card img {
    width: 100px;
    padding-top: 50px;
    margin-bottom: 25px;
}

.cat-card p {
    font-size: 20px;
}